extends ../../layout/layout
block topRightContent
	h3.font-weight-light.text-center Add New Partner
	a.btn.btn-outline-primary.mr-4(href=makeUrl("/partner/partner")) Partner List

block content

	.container.text-dark
		.card.card-no-border.mb-5
			.card-header.text-inverse.text-white
				| Add Partner
			.card-body
				form(action=makeUrl = "/admin/partner/addPartner" method="POST" )
					.form-row
						.form-group.col-md-6
							label(for="name") Partner Name
							input#name.form-control(type="text" name="name" required placeholder="Partner Name")

						.form-group.col-md-6
							label(for="company") Company Name
							input#company.form-control(type="text" name="company" placeholder="Company Name" required)
					.form-row
						.form-group.col-md-6
							label(for="email") Email
							input#email.form-control(type="email" name="email" required placeholder="Email")
						.form-group.col-md-6
							label(for="phone") Phone
							input#phone.form-control(type="phone" name="phone" placeholder="Phone" required)
					.form-row
						.form-group.col-md-12
							label(for="pass") Password
							input#pass.form-control(type="password" name="password" required placeholder="Password")

					button.btn.btn-primary(type="submit") Submit
