doctype strict
head
	meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
	link(rel="stylesheet" media="all" href="/assets/application-mailer-dbc5154d3c4160e8fa7ef52fa740fa402760c39b5d22c8f6d64ad5999499d263.css")
	link(href="/css/style.min.css" rel="stylesheet" type="text/css")
	style.
		<!--
		Add custom styles that you want inlined here

		-->
// Edit the code below this line

.card
	.h1.p-3.bg-primary.text-white.text-center Tourgo.
.p-3.mb-2.bg-light
	.container
		.card.card-no-border.mb-8
			.card-body
				br
				br
				h1.text-center.text-dark Welcome To TMS
				p.font-weight-lighter.text-center.text-dark place where you can rent your property

					p.text-center Hi
					button.btn.btn-outline-secondary.text-center(type="button" href="#") Login

					br
					br
					.text-center.text-muted Pricing FAQ · Help Center
					.text-center.text-muted Receipt #qwertyuiopasdfghjklzxcvbnm
					.text-center.text-muted.mb-4 Map data © OpenStreetMap contributors
					table.table-unstyled.text-muted.mb-4