extends ../../layout/layout
block topRightContent
	h3.font-weight-light.text-center.text-dark Package Bookings
	a.btn.btn-outline-primary.mr-1(href=makeUrl("/bookings/hotelBookings")) Hotel bookings
block content
	.card
		.card-body
			.table-responsive
				table#table.table.table-striped.text-dark
					thead
						tr
							th Guest Name
							th Email
							th Phone
							th Package Provider
							th Package Name
							th Price
							th Departure
							th Return
							th Payment

	script.
		window.onload = function () {
			$.fn.dataTable.ext.errMode = 'none';
			let $table = $("#table").DataTable({
				columnDefs: [{
					render: function (item) {
						if (item == null) {
							return "<span class=\"badge badge-danger\">Not Paid</span>"
						} else {
							return "<span class=\"badge badge-success\">Paid</span>"
						}

					},
					targets: 8

				}, {
					render: function (item) {
						return moment(item).format('DD MMM, Y');
					},
					targets: [6, 7]
				},
				],
				columns: [{data: 'guestName'}, {data: 'email'}, {data: 'phone'}, {data: 'companyID.company'}, {data: 'packageID.name'}, {data: 'totalPrice'}, {data: 'packageID.departure'}, {data: 'packageID.return'}, {data: 'transactionID'}, {
					//data: 'actions',
					orderable: false,
					searchable: false
				}]
			});
			yadcf.init($table, [{column_number: 0, filter_default_label: "Type here..", filter_type: "text"},
				{column_number: 1, filter_default_label: "Type here..", filter_type: "text"},]);


		};