extends ../../layout/layout
block content
	.container.text-dark
		.row
			.col
			.card.col-md-5.shadow-1.rounded-0.mb-5
				.card-body
					h3.font-weight-light.text-center Change Your Password
					hr.mb-5
					form(action=makeUrl('/dashboard/changePassword/') + partner._id  method="POST")
						.form-group
							label(for="oldPass") Old Password
							input#oldPass.form-control(type="password" name="password" required)
						.form-group
							label(for="myInput") New Password
							input#myInput.form-control(type="password" name="newPass" required)
						.custom-control.custom-checkbox.my-1.mr-sm-2
							input#btn.custom-control-input(type="checkbox")
							label.custom-control-label(for="btn") Show Password
						button.btn.btn-success.rounded-0.mt-4(type="submit") Submit
			.col
	script.

		window.onload=function () {
			$("#btn").on('click', function () {
				if($(this).is(":checked")) {
					$('#myInput').attr('type', 'text');
				} else {
					$('#myInput').attr('type','password');
				}
			})
		}