extends ../../layout/layout

block content
	form
		.row
			.col-md-4
				.form-group.row.mb-0
					.col-auto.pr-0
						label() Form 1
					.col.pl-0
						input.form-control(type="text" )

			.col-md-4
				.form-group.row.mb-0
					.col-auto
						label() Form 1
					.col
						input.form-control(type="text" )

			.col-md-4
				.form-group.row.mb-0
					.col-auto
						label() Form 1
					.col
						input.form-control(type="text" )
			.col-md-8
				.form-group.row.mb-0
					.col-auto
						label() Form 1
					.col
						input.form-control(type="text" )
			.col-md-4
				.form-group.row.mb-0
					.col-auto
						label() Form 1
					.col
						input.form-control(type="text" )

			.col-md-12.text-center
				.form-group
					button.btn.btn-outline-primary.rounded-0(type="submit") Click me



