extends ../home/layout/common
block content
	.row.mb-5
		.col.mb-5
	.container.mt-5.mb-5
		.view
			img.img-fluid(src="/img/svg/404.svg" alt="Card image cap" )
			.mask.rgba-white-strong
			.card-img-overlay
				.row
					.col
				.row
					.col
						h1.font-weight-light.text-center.mt-5.font-50 Blogging will be added soon!




	// Footer
	footer.page-footer.font-small.unique-color-dark.mt-5
		div.unique-color-dark
			.container.text-center.mb-4
				.row
					.col.text-center.text-md-left.mb-4
						h5.mt-4 Tourgo co.
						p Mirpur-1, Dhaka 1216, Bangladesh
						i.fas.fa-phone
							a.font-weight-light(href="tel:+8801758357036")  +8801758357036
						br
						i.fas.fa-envelope
							a.font-weight-light(href="mailto:alkemy48@gmail.com")  info@tourgo.com
					.col-md-3.text-center.text-md-left.mb-4
						h5.mt-4 Tourgo
						a(href="/hotels") Hotels
						br
						a(href="/packages") Packages
						br
						a(href="/blog") Blog
						br
						a(href="/contact") Contact

					.col-md-3.text-center.text-md-left.mb-3
						h5.mt-4 For Partner
						a(href="/login") Partner login
						br
						a(href="/partnerTerms") Register with hotels
						br
						a(href="/partnerTerms") Register with services

		.footer-copyright.text-center.py-3
			a Copyright © By Tourgo !{new Date().getFullYear()}