extends ../home/layout/common
block content

	.container.mb-5
		.card.mt-5
			img.card-img-top.mb-5(src="/img/svg/undraw_contact_us_15o2.svg" alt="Card image cap")
			.card-body.text-lg-left
				h3
					span.badge.badge-primary.tags Contact us
				p.card-text.font-weight-light.mb-5 Contact us if you have any queries. You may need to provide us your booking ID which can be found in your bookings page.
				.col-3
				.row.mt-5
					.col-md-6.mb-5.text-left
						h5.font-weight-light TOURGO co.
						p.font-weight-light Phone: 01758357036
						p.font-weight-light Email: admin@mail.com
						p.font-weight-light Address: Mirpur 1, Dhaka-1216, Bangladesh

	footer.page-footer.font-small.unique-color-dark.mt-5
		div.unique-color-dark
			.container.text-center.mb-4
				.row
					.col.text-center.text-md-left.mb-4
						h5.mt-4 Tourgo co.
						p Mirpur-1, Dhaka 1216, Bangladesh
						i.fas.fa-phone
							a.font-weight-light(href="tel:+8801758357036")  +8801758357036
						br
						i.fas.fa-envelope
							a.font-weight-light(href="mailto:alkemy48@gmail.com")  info@tourgo.com
					.col-md-3.text-center.text-md-left.mb-4
						h5.mt-4 Tourgo
						a(href="/hotels") Hotels
						br
						a(href="/packages") Packages
						br
						a(href="/blog") Blog
						br
						a(href="/contact") Contact

					.col-md-3.text-center.text-md-left.mb-3
						h5.mt-4 For Partner
						a(href="/login") Partner login
						br
						a(href="/partnerTerms") Register with hotels
						br
						a(href="/partnerTerms") Register with services

		.footer-copyright.text-center.py-3
			a Copyright © By Tourgo !{new Date().getFullYear()}
